<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/favicon.ico" rel="shortcut icon">
<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
<link rel="stylesheet" href="__HOME__/css/style.css">
<link rel="stylesheet" href="__ADMIN__/style_css/index.css">
<link rel="stylesheet" href="__ADMIN__/font/css/font-awesome.min.css">
<script src="__ADMIN__/js/jquery-1.9.1.min.js"></script>
<script src="__HOME__/js/lanrenzhijia.js"></script>
<script src="__ADMIN__/layui/layui.js"></script>
<style type="text/css">
	
</style>
</head>
<body><!-- <img src="__HOME__/img/logo.png"> -->
<div class="tpt-header">
<div class="tpt-wp cl">
<div class="tpt-logo"><a href="__ROOT__/" ><font id="abcdef" size="5">创邦-吾燕科技博客</font></a></div>
<input id="nav-btn" type="checkbox">
<label class="tpt-nav-btn" for="nav-btn"></label>
<ul class="tpt-nav">
<li>
<a class="tpt-nav-li" href="__ROOT__/">网站首页</a>
<ul class="tpt-nav-ul"></ul>
</li>
{volist name="tptop" id="vo" key="k"}
{if condition="$vo['shows'] eq 1"}
<li>
{if condition="$vo['links'] neq ''"}
<a {if condition="$vo['blank'] eq 1"}target="_blank"{/if} class="tpt-nav-li" href="{$vo.links}">{$vo.name}</a>
{else/}
<input id="nav-{$vo.id}" type="checkbox"><label class="tpt-nav-li" for="nav-{$vo.id}">{$vo.name}</label>
{/if}
<ul class="tpt-nav-ul">
{volist name="tptops" id="vs" key="k"}
{if condition ="$vo.id eq $vs['tid']"}
{if condition="$vs['shows'] eq 1"}<li><a {if condition="$vs['blank'] eq 1"}target="_blank"{/if} href="{$vs.links}">{$vs.name}</a></li>{/if}
{/if}
{/volist}
</ul>
</li>
{/if}
{/volist}
</ul>
<div class="tpt-status tpt-none-768 tpt-none-1024">
{if condition="$Think.session.validate neq ''"}
<h2><a href="__ROOT__/home/{$tptuser.userid}.html"><img id="logohead" src="{$tptuser.userhead}">{$tptuser.username}</a></h2>
{if condition="$tptuser['reply'] neq 0"}
<a class="mes" href="__ROOT__/user/message.html">{$tptuser.reply}</a>
{/if}
<ul>
<li><a href="__ROOT__/home/{$tptuser.userid}.html"><i class="layui-icon">&#xe612;</i>我的主页</a></li>
<li><a href="javascript:void(0)"><i class="layui-icon">&#xe658;</i>{include file="public/gradeh"}</a></li>
<li><a href="__ROOT__/user/set.html"><i class="layui-icon">&#xe614;</i>设置</a></li>
<li><a class="logout" href="javascript:void(0)"><i class="iconfont" style="top: 2px;">&#xe671;</i>退出</a></li>
</ul>
{else/}
{if condition="config('web.WEB_LOG') eq 1"}
<a class="rega" href="__ROOT__/user/login.html">登录</a>
<a class="regb" href="__ROOT__/user/reg.html">注册</a>
{/if}
{if condition="config('web.WEB_LOG') eq 2"}
<a class="login" href="javascript:void(0)"><i class="iconfont">&#xe627;</i>立即登录</a>
{/if}
{if condition="config('web.WEB_LOG') eq 3"}
<a class="login" href="javascript:void(0)"><i class="iconfont">&#xe627;</i></a>
<a class="rega" href="__ROOT__/user/login.html">登录</a>
<a class="regb" href="__ROOT__/user/reg.html">注册</a>
{/if}
{/if}
</div>
</div>
</div>
<div class="tpt-none-1200 tpt-none-1920">
{if condition="$Think.session.validate neq ''"}
<div class="PathInner" id="PathMenu">
<div class="PathMain"><div onclick="PathRun();">
{if condition="$tptuser['reply'] neq 0"}
<a class="tpt-message" href="__ROOT__/user/message.html">{$tptuser.reply}</a>
{/if}
<img src="{$tptuser.userhead}"></div></div>
<div class="PathItem"><a class="cola link logout"><i class="iconfont">&#xe671;</i></a></div>
<div class="PathItem"><a class="colb link" href="__ROOT__/user/set.html"><i class="layui-icon">&#xe614;</i></a></div>
<div class="PathItem"><a class="cold link tougao"><i class="layui-icon">&#xe609;</i></a></div>
<div class="PathItem"><a class="colc link" href="__ROOT__/home/{$tptuser.userid}.html"><i class="layui-icon">&#xe612;</i></a></div>
</div>
{else/}
<div class="PathInner" id="PathMenu">
<div class="PathMain"><div onclick="PathRun();"><em>登录</em></div></div>
{if condition="config('web.WEB_LOG') eq 1"}
<div class="PathItem"><a class="colb link" href="__ROOT__/user/login.html"><i class="iconfont" style="font-size: 20px;">&#xe646;</i></a></a></div>
<div class="PathItem"></div>
<div class="PathItem"></div>
<div class="PathItem"></div>
{/if}
{if condition="config('web.WEB_LOG') eq 2"}
<div class="PathItem"><a class="cola link login" href="javascript:void(0)"><i class="iconfont" style="font-size: 22px;">&#xe613;</i></a></div>
<div class="PathItem"></div>
<div class="PathItem"></div>
<div class="PathItem"></div>
{/if}
{if condition="config('web.WEB_LOG') eq 3"}
<div class="PathItem"><a class="cola link login" href="javascript:void(0)"><i class="iconfont" style="font-size: 22px;">&#xe613;</i></a></div>
<div class="PathItem"><a class="colb link" href="__ROOT__/user/login.html"><i class="iconfont" style="font-size: 20px;">&#xe646;</i></a></div>
<div class="PathItem"></div>
<div class="PathItem"></div>
{/if}
{/if}
</div>
</div>