<div class="tpt-sidebar cl">
	<h3>热门标签</h3>
	<div class="tpt-f cl">
     {volist name="tagss" id="tag"}
	 <a href="__ROOT__/tags.html?id={$tag}">{$tag}</a>
	 {/volist}
  </div>
</div>

{if condition="config('web.WEB_FTJ') neq 0"}
<div class="tpt-sidebar cl">
	<h3>热门推荐</h3>
	<ul class="tpt-c cl">
		{volist name="tptf" id="vo"}
		<li>
		<a href="__ROOT__/thread/{$vo.id}.html">{$vo.title}</a>
		<p>{$vo.time|date="Y-m-d h:i:s",###}</p>
		</li>
		{/volist}
	</ul>
</div>
{/if}

{if condition="config('web.WEB_FJX') neq 0"}
<div class="tpt-sidebar cl">
	<h3>精选内容</h3>
	<ul class="tpt-d cl">
	    {volist name="tpte" id="vo"}
		<li>
		<div>
		<a href="__ROOT__/thread/{$vo.id}.html">
		{if condition="$vo['pic'] neq ''"}
		<img src="__UPLO__{$vo.pic}" alt="{$vo.title}">
		{else/}
		<img src="__HOME__/img/1.jpg" alt="暂无图片">
		{/if}
		</a>
		</div>
		<p><a href="__ROOT__/thread/{$vo.id}.html">{$vo.title}</a></p>
		</li>
		{/volist}
	</ul>
</div>
{/if}

<div class="tpt-sidebar cl">
	<h3>友情连接</h3>
	<ul class="tpt-e cl">
		{volist name="tptl" id="vo"}
		<li><a target="_blank" href="{$vo.links}">{$vo.name}</a></li>
		{/volist}
	</ul>
</div>

