<div class="tpt-stat cl">
<div class="tpt-tsearch cl">
<form action="__ROOT__/search.html">
<input placeholder="搜索" type="text" name="ks" value="<?php echo input('ks');?>" required lay-verify="required" autocomplete="off">
<button><i class="layui-icon" style="font-size: 18px;">&#xe615;</i></button>
</form>
</div>
<div class="tpt-stat-list cl">
<ul>
<li><span>{$tptca}</span>文章总数</li>
<li style="border-left: 1px solid #f1f1f1;border-right: 1px solid #f1f1f1;"><span>{$tptcm}</span>会员总数</li>
<li><span>{$tptcc}</span>评论总数</li>
</ul>
</div>
<div class="tpt-grid-org cl">
<h2>欢迎打赏投稿</h2>
<a style="border: 1px solid #5FB878;background-color: #5FB878;color: #FFF;padding: 0 28px;" class="tougao layui-btn">我要投稿</a>
<a style="border: 1px solid #FF5722;background-color: #FF5722;color: #FFF;padding: 0 28px;" class="zanzhu layui-btn">我要打赏</a>
</div>
</div>