{include file="index/header"}
<body>
<div class="tpt—index fly-panel fly-panel-user">
<table width="100%">
</table>
<blockquote style="padding: 10px;border-left: 5px solid #009688;" class="layui-elem-quote">系统信息：</blockquote>
<table width="100%">
<tr><td>服务器类型</td><td>{:php_uname('s')}</td></tr>
<tr><td>PHP版本</td><td>{:PHP_VERSION}</td></tr>
<tr><td>Zend版本</td><td>{:Zend_Version()}</td></tr>
<tr><td>服务器解译引擎</td><td>{:$_SERVER['SERVER_SOFTWARE']}</td></tr>
<tr><td>服务器语言</td><td>{:$_SERVER['HTTP_ACCEPT_LANGUAGE']}</td></tr>
<tr><td>服务器Web端口</td><td>{:$_SERVER['SERVER_PORT']}</td></tr>
</table>
<blockquote style="padding: 10px;border-left: 5px solid #009688;" class="layui-elem-quote">开发团队：</blockquote>
<table width="100%">
<tr><td width="110px">版权所有</td><td><a href="https://shop116885045.taobao.com/shop/view_shop.htm?spm=a313o.201708ban.category.d53.483382ffpTcSpS&mytmenu=mdianpu&user_number_id=1042664704" target="_blank">淘宝店铺网站开发工作室</a>开发团队保留所有权利</td></tr>
<tr><td>感谢贡献者</td><td>ThinkPHP，Layer</td></tr>
<tr><td>特别提醒您</td><td>本套程序基于ThinkPHP5开发框架，致力于为您创建一个高效简洁但安全稳定的网站程序。</td></tr>
</table>
</div>
{include file="index_footer"}
</body>
</html>